<!DOCTYPE html>
<html lang="en">
<head>
	<title>.metanode page context</title>

	<meta charset="utf-8">

	<script src="/vendor/jquery/jquery-1.9.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="comments.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/css/meta_main.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-responsive.min.css">
	
	<style>
		body
		{
			overflow: auto;
			overflow-y: hidden;
		}	
	</style>
</head>
<body class="extended">
	<div id="comments" class="container">
		<h1><a href="/page_content/popup.html" class="btn"><i class="icon-chevron-left"></i></a> <small>.metanode - comments</span></small></h1>
		
		<table class="table table-hover" id="comments-list">
			<tr><th>Date</th><th>Comment</th><th>Author</th></tr>
			<!-- 
			<tr><td>5.4. v 18:00</td><td>Bezva komentář s diakritikou.</td><td>Martin</td></tr>
			 -->
		</table>

		<div class="message-form">
			<textarea id="comment_area" rows="3" placeholder="Your message..."></textarea>
			<button id="send_button" class="btn btn-primary">Send</button>
		</div>

	</div>
  </body>
</html>

