<!DOCTYPE html>
<html lang="en">
<head>
	<title>.metalink page context</title>

	<meta charset="utf-8">

	<script src="/vendor/jquery/jquery-1.9.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="comments.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/css/meta_main.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>
	<div id="comments">
		<h3>Comments <i class="icon-comment"></i></h3>
		
		<table class="table table-hover" id="comments-list">
			<tr><th>Date</th><th>Comment</th><th>Author</th></tr>
			<!-- 
			<tr><td>5.4. v 18:00</td><td>Bezva komentář s diakritikou.</td><td>Martin</td></tr>
			 -->
			 
		</table>

		<form class="form-inline" id="comments-add-form">
			<input type="text" id="inputNick" name="nick" placeholder="Nick">
			<input type="text" id="inputMessage" name="message" placeholder="Message">
			<button type="submit" class="btn">Spread The Hate!</button>
		</form>

	</div>
</body>
</html>

