<!doctype html>
<html>
  <head>
    <title>Meta</title>

	<link rel="stylesheet" type="text/css" href="/css/meta_main.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-responsive.min.css">
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
       <script src="popup.js"></script>
     -->
   	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
   	
   	<!-- nacist jQuery -->
   	<script src="/vendor/jquery/jquery-1.9.1.min.js"></script>
   	
   	<!-- nacist komentare -->
   	<script src="comments.js"></script>
  </head>
  <body>
	<div id="comments">
		<h3>Comments <i class="icon-comment"></i></h3>
		
		<table class="table table-hover" id="comments_list">
			<tr><th>Date</th><th>Comment</th><th>Author</th></tr>
			<!-- 
			<tr><td>5.4. v 18:00</td><td>Bezva komentář s diakritikou.</td><td>Martin</td></tr>
			 -->
			 
		</table>
	</div>
  </body>
</html>

