<!doctype html>
<html>
  <head>
	<title>.metanode page context</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/css/meta_main.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-responsive.min.css">
	
	<script src="/vendor/jquery/jquery-1.9.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="login_form.js"></script>

</head>
<body class="base">
	<div class="container">
		<h1><small>.metanode</small></h1>
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a href="/page_content/popup.html">View</a></li>
					<li class="active"><a href="/views/login_form.html">Connect</a></li>
				</ul>
			</div>
		</div>

		<div class="form-signin">
			<input id="url" type="text" class="" placeholder="Server URL">
			<input id="nick" type="text" class="" placeholder="Nickname">
			<button id="send" class="btn btn-primary" type="submit">Connect</button>
		</div>

	</div>
</body>
</html>
